.evm {
    margin: 100px 50px;
}
.evm table{
    padding: 0;
    margin: 0;
    border: 30px rgb(232, 19, 19) ridge;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.chaap{
    height: 500px;
    width: 300px;
    background-image: url('../../public/img/vpad.png');
    padding: 0;
    margin: 0;
    position: fixed;
    right: 100px;
    top: 100px;
}
.chap{
    padding-left: 10px;
    height: 70px;
    width: 50px;
    position: relative;
    left: 23px;
    top: 140px;
    /* background-color: white; */
}
.chap img{
    height: 30px;
    width: 40px;
    filter: grayscale(100%);
}
button {
    height: 60px;
    width: 150px;
    border-radius: 40px;
    background-color: rgb(14, 14, 114);
    border: 1px black solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.circle {

    margin: 0 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    border: 1px black solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* color: red; */
}

img {
    /* padding: 0 40px; */
    /* height: 40px; */
    width: 100px;
}

h1 {
    padding-left: 20px;
    font-size: 40px;
    text-align: left;
}

.result {
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.copy {
    height: 40px;
    background-image: radial-gradient(pink, red);
    color: white;
    font-size: 25px;
}

.follow img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.follow ul {
    padding-left: 500px;
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.name img {
    height: 20px;
    width: 20px;
}

.name .profile {
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.nav {
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #333;
    /* Add a background color for better visibility */
    position: fixed;
    top: 0;
    width: 100%;

}

.nav ul {

    list-style: none;
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    display: inline;
    margin-right: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.logo {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5px;
    left: 50px;
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 768px) {
    .nav ul {
        margin: 20px;
        margin-top: 5px;
        display: flex;
    }

    .nav ul li {
        margin: 0;
        padding: 10px;

    }

    .nav ul li a {
        font-size: 10px;
    }

    .logo {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 2px;
        left: 0;
    }
}


/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
    .evm {
        margin: 100px 20px;
    }
    .chaap{
        height: 500px;
        width: 300px;
        background-image: url('../../public/img/vpad.png');
        padding: 0;
        margin: 0;
        position: relative;
        left: 100px;
        bottom: 30px;
    }
    button {
        width: 120px;
        height: 50px;
    }

    .circle {
        margin: 0 20px;
        height: 40px;
        width: 40px;
    }

    img {
        width: 80px;
    }

    h1 {
        font-size: 30px;
    }

    .result {
        font-size: 16px;
    }

    .copy {
        font-size: 20px;
        width: 150%;
    }

    .follow ul {
        padding-left: 0;
        width: 400px;
        display: flex;
    }

    .name .profile {
        height: 150px;
        width: 150px;
    }

}
